node_modules
dist
uploads
*.csv
*.sql
*.log
.git
.env
scratch
scratch*
test
scripts
imports
docs
coverage
*.md
**/*.spec.ts
**/*spec.ts
scratch_*.ts
prisma/migrations
*.json
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.build.json
!nest-cli.json
!prisma/schema.prisma
